<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daho.videohighfps">

    <!-- ✅ Only needed permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        tools:replace="android:label,android:theme"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" />
</manifest>
